<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    
  <div class="container">
    <h1>User Management System</h1>
    <div class="manage">
        <h2>The total number of users are: <%= count %></h2>
        <a href="/user">
        <button> Join us today!</button>
    </a>
    </div>
   </div>
</body>
</html>