<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new info</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h2>Add New User</h2>
    <form method="post" action="/user">
        <input placeholder="Enter username" name="username"><br><br>
        <input placeholder="Enter email" name="email"><br><br>
        <input type="password" placeholder="Enter Password" name="password">
        <!-- <textarea placeholder="Write your post here" name="content"></textarea><br><br> -->
        <button type="submit">Add</button>
    </form>
</body>
</html>