body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #00698f;
  margin-bottom: 20px;
  text-align: center;
}

form {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea:focus, input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
 
}

button:hover {
  background-color: #3e8e41;
}

@media (max-width: 768px) {
  form {
    width: 80%;
  }
}
